/*  your css code here. If applicable */
section{
	padding: 20px;
	background-color:#f5f5f5;
}

td{
	padding:20px;
	background-color:white;
	border:1px solid whitesmoke;
	
}
.rightbox{
	text-align:right;
	font-style:italic;
}
